html{
    // background:#eee;
    font-family:$display;
    height:100%;
}
body{
    // padding:2em;
    font-size:62.5%;
    // width:80%;
    margin:0 auto;
    height:100%;
}
.mainWrapper{
    font-size:1.6em;
    // background:red;
}
h1,h2{
    display:inline-block;
    font-family:$display;
    text-transform:uppercase;
    letter-spacing:.1em;
    font-weight:400;
    border-bottom:.2rem solid $black;
}
h1{
    font-size:1.2em;
}


strong{
    font-weight:bold;
}