#chart1{
    .bgBar{
        stroke:#bbb;
        strole-width:.1rem;
        stroke-dasharray:5,5;
        fill:none;
    }
    .hoverTarget{
    	fill:rgba($black,0);
    	transition:fill .2s;
    	cursor:pointer;
    	&:hover{
    		fill:rgba($black,.5);
    	}
    }
}