.textBlock{
    max-width:30em;
    margin:0 auto;
    padding:2em 0;
}



// .styleTest{
h1{
	margin:0 0 3em 0;
	display:block;
	text-align:center;
	// font-family:$abril;
	font-family:$display;
	// font-family:$text;
	font-weight:600;
	font-size:3em;
	// display:inline-block;
	border-bottom:none;
	text-transform:none;
	letter-spacing:0;
	line-height:1;
	color:$white;
	text-shadow:
		$black 0 .1rem 0,
		rgba($black,.4) 0 0 1em;
	// font-weight:normal;
}
.textBlock{
	// font-family:$test;
	font-size:.8em;
	max-width:40em;
	margin-bottom:5em;
	h2{
		font-size:3em;
		margin-bottom:.2em;
		text-transform:none;
		letter-spacing:0;
		border-bottom:0;
		line-height:1;
		// font-family:$proximacondensed;
		// display:block;
	}
	h3{
		display:block;
		background:$black;
		color:$white;
		font-weight:300;
		font-family:$refrigerator;
		// font-family:$proximacondensed;
		text-transform:uppercase;
		letter-spacing:.2em;
		// font-style:italic;
		margin-bottom:2em;
		padding:.3em .5em .3em;
		line-height:1;
		// font-size:1.4em;
	}
	p{
		// font-family:georgia;
		// font-family:$bookmania;
		// font-family:$kandal;
		font-family:$text;
		font-weight:400;
		// font-weight:500;
		line-height:1.3;
		// font-style:italic;
		// text-indent:2em;
		margin-bottom:.4em;
		strong{
			font-weight:600;
		}
		em{
			font-style:italic;
		}
	}
}

.columnBlock{
	column-count:2;
	column-gap:1em;
	column-rule:.1rem solid #777;
}