.chart1tooltip{
    position:absolute;
    display:inline-block;
    z-index:2;
    // width:2em;
    // height:2em;
    padding:.2em .5em;
    text-align:center;
    line-height:1;
    background:rgba($black,.6);//$grey;
    color:$white;
    border-radius:.2rem;
    opacity:0;
    margin-top:-1em;
    pointer-events:none;
    text-transform:uppercase;
    letter-spacing:.1em;
    font-weight:$bold;
    font-size:.8em;
    &.active{
        opacity:1;
    }
    &.england{
        border:solid .1rem $england;
        background:rgba($white,.6);//rgba($england,.2);
        color:$england;
    }
    &.scotland{
        border:solid .1rem $scotland;
        background:rgba($white,.6);//rgba($scotland,.2);
        color:$scotland;
    }
    &.ireland{
        border:solid .1rem $ireland;
        background:rgba($white,.6);//rgba($ireland,.2);
        color:$ireland;
    }
    &.wales{
        border:solid .1rem $wales;
        background:rgba($white,.6);//rgba($wales,.2);
        color:$wales;
    }
    &.france{
        border:solid .1rem $france;
        background:rgba($white,.6);//rgba($france,.2);
        color:$france;
    }
    &.italy{
        border:solid .1rem $italy;
        background:rgba($white,.6);//rgba($italy,.2);
        color:$italy;
    }
}
// .active .chart1tooltip{
//     opacity:1;
// }