.textBlock{
    max-width:30em;
    margin:0 auto;
    padding:2em 0;
}



.styleTest{
	h1{
		margin:1em 0;
		font-family:$abril;
		font-size:5em;
		// display:inline-block;
		border-bottom:none;
		text-transform:none;
		letter-spacing:0;
		line-height:1;
		font-weight:normal;
	}
	.textBlock{
		// font-family:$test;
		font-size:.8em;
		max-width:40em;
		h3{
			// font-weight:900;
			font-family:$refrigerator;
			text-transform:uppercase;
			letter-spacing:.1em;
			// font-style:italic;
			margin-bottom:.2em;
			font-size:1.2em;
		}
		.columnBlock{
			column-count:2;
			column-gap:1em;
			column-rule:.1rem solid #eee;
		}
		p{
			// text-indent:2em;
			margin-bottom:.7em;
		}
	}
}