.testGraph{
    padding:2em;
    // background:$white;
    // box-shadow:rgba(#ddd,1) 0 .2em .2em 0;
    border-top:.1rem solid #ddd;
    border-bottom:.1rem solid #ddd;
    height:auto;
    transition:height .2s;
}

#chart1{
    &.chartContainer{
        width:80%;
        float:left;
        // background:#ccc;
        // padding-bottom:40%;
        height:15em;
        margin:1em auto;
        position:relative;
        @include bp(d3){
            width:100%;
            float:none;
        }
    }

    .bgBar{
        stroke:#bbb;
        strole-width:.1rem;
        stroke-dasharray:5,5;
        fill:none;
    }
    .hoverTarget{
    	fill:rgba($black,0);
    	transition:fill .2s;
    	cursor:pointer;
    	&:hover{
    		fill:rgba($black,.5);
    	}
    }

    .axesWrapper{
        font-size:.8em;
        text{
            fill:#777;
        }
    }

    .axis path{
        stroke:$grey;
    }

    .xAxis .tick{
        line{
            // display:none;
            stroke:$grey;
        }
        // transform:rotate(-90deg);
    }
    .yAxis path{
        display:none;
    }
    .yAxis .tick{
        line{
            display:none;
        }
    }

    .zAxix{

    }
}

.chart1tooltips{
    width:20%;
    min-height:15em;
    float:right;
    padding:.5em;
    // margin-top:20px;
    border:.1rem solid #bbb;
    // padding-top:40px;
    @include bp(d3){
        width:100%;
        float:none;
        margin-bottom:1em;
        min-height:0;
    }
}