// COLOURS

// "The New Defaults"
$aqua:#7fdbff;
$blue:#0074d9;
$navy:#001f3f;
$teal:#39cccc;
$green:#2ecc40;
$olive:#3d9970;
$lime:#01ff70;
$yellow:#ffdc00;
$orange:#ff851b;
$red:#ff4136;
$fuchsia:#f012be;
$purple:#b10dc9;
$maroon:#85144b;
$white:#fff;
$silver:#ddd;
$grey:#aaa;
$black:#111;

// Team Colours
$england:#fd9a9a;//ffffff;
$ireland:#398724;//009b48;
$scotland:#3d286c;//0065bd;
$wales:#eb2932;//ff0000;
$france:#5e5be3;//0072bb;
$italy:#46cde5;//336699;

// UI Colours
$cream:#fff1e7;
$grey:#bbb;
$greyLight:#ddd;
$greyDark:#777;

// Selection Colours
::selection{
  color:$white;
  background:$black;
}
a::selection{
  color:$black;
  background:$white;
}