// Typography etc.

// Icon Font
@font-face {
  font-family: 'iconFont';
  src:url('../fonts/icons/icons.eot');
  src:url('../fonts/icons/icons.eot?#iefix') format('embedded-opentype'),
      url('../fonts/icons/icons.woff') format('woff'),
      url('../fonts/icons/icons.ttf') format('truetype'),
      url('../fonts/icons/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Fonts
$display:'Lato', sans-serif;
$text:$display;
$utility:Helvetica,Arial,sans-serif;
$icons:'iconFont';
$code:monospace;

// $abril:'Abril Fatface', cursive;
$refrigerator:'refrigerator-deluxe',$utility;// 300 400 700 900
// $bookmania:'bookmania',georgia,serif;// 300 400 600 700 900
// $kandal:'kandal',sans-serif;// 400 500 700
$proxima:'proxima-nova',serif;// 100 300 400 500 600
// $proximacondensed:'proxima-nova-alt-ext-cond',$proxima;// 100 300 400 700

$display:$refrigerator;
$text:$proxima;

// Weights
$book:400;
$bold:900;
